.collapsible .content {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: white;
  border: 2px solid #E0E0E0;
  width: 350px;
  border-radius: 12px;

}
.collapsible .header {
  cursor: pointer;
  width: 350px;
  padding-bottom: 5px;
}

@media (max-width: 768px) {
  .collapsible .content {
    width: 200px;
  }

  .collapsible .header {
    width: 200px;
  }
}

/* Estilos extra pequeños (ej: pantallas < 480px) */
